<div class="container px-4">
  <h1 class="main-title mb-5" data-en=<%= status %>><%= target %></h1>
  <div>
    <% @quizzes.each do |quiz| %>
      <div class="card quiz-idx-card mb-5 shadow">
        <%= link_to quiz_path(quiz), class: "card-body quiz_index" do %>
          <p class="card-anime-label"><%= Anime.model_name.human %>作品</p>
          <h5 class="card-title card-anime-title"><%= quiz.anime.title %></h5>
          <div class="index-q">Q.</div>
          <%= simple_format(h(quiz.question)) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="my-5">
    <%= paginate @quizzes, theme: 'bootstrap-5' %>
  </div>
</div>
