<div class="container mt-3">
  <h1 class="main-title mb-5" data-en="Detail"><%= Quiz.model_name.human %>詳細</h1>
  <div class="card card-quiz-detail my-4">
    <div class="card-body p-4">
      <p class="tag-status"><%= @quiz.status_i18n %></p>
      <% if user_signed_in? && @quiz.published_at.present? %>
        <p class="mb-1 pt-3"><span class="quiz-detail-label">公開日時</span><%= l @quiz.published_at %></p>
        <% if l(@quiz.published_at) != l(@quiz.updated_at) %>
          <p class="mb-3"><span class="quiz-detail-label">更新日時</span><%= l @quiz.updated_at %></p>
        <% end %>
      <% end %>
      <p class="card-anime-label pt-3"><%= Anime.model_name.human %>作品</p>
      <p class="card-anime-title"><%= @quiz.anime.title %></p>
      <div class="index-q">Q.</div>
      <div class="mb-4">
        <%= simple_format(h(@quiz.question)) %>
      </div>
      <% @quiz.choices.each do |choice| %>
        <% if choice.is_correct == true %>
          <button type="button" class="btn-choice shadow-sm"><%= choice.body %></button>
        <% else %>
          <button type="button" class="btn-choice shadow-sm"><%= choice.body %></button>
        <% end %>
      <% end %>
      <div class="detail-link-group">
        <% if user_signed_in? && current_user.id == @quiz.user_id %>
          <%= link_to "編集", edit_quiz_path(@quiz) %>
          <%= link_to "削除", quiz_path(@quiz), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="detail-bottom">
    <% if @quiz[:status] == "draft" %>
      <%= link_to draft_quizzes_path do %>
        <i class="bi bi-arrow-left"></i>
        <%= @quiz.status_i18n %><%= Quiz.model_name.human %>
      <% end %>
    <% else %>
      <%= link_to quizzes_path do %>
        <i class="bi bi-arrow-left"></i>
        <%= @quiz.status_i18n %><%= Quiz.model_name.human %>
      <% end %>
    <% end %>
  </div>
</div>
