<div class="container-fluid mt-5">
  <div class="form-wrapper pb-4">
    <h1>Sign In</h1>
    <%= simple_form_for resource, url: session_path(resource_name), data: { turbo: false } do |f| %>
      <div class="form-item">
        <%= f.input :email, autofocus: true, autocomplete: 'email' %>
      </div>
      <div class="form-item">
        <%= f.input :password, autocomplete: 'current-password' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' do %>
            <%= resource.class.human_attribute_name('remember_me') %>
          <% end %>
        </div>
      <% end %>
      <div class="button-panel">
        <%= f.submit  t('.sign_in'), class: 'button' %>
      </div>
    <% end %>
    <div class="form-footer">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
