<div class="container mt-3">
  <h1 class="my-4">Plays#show</h1>
  <p>Find me in app/views/plays/show.html.erb</p>
  <div class="card mb-5">
    <div class="card-body p-5">
      <%# TODO: 実際は表示しないので後でdivごと消す %>
      <div class="mb-4">
        <p>*パッケージID: <%= @quiz_package.package.id %></p>
        <% if user_signed_in? %>
          <p>*Player ID: <%= @quiz_package.package.user_id %></p>
        <% else %>
          <p>*Player ID: <%= @quiz_package.package.guest_id %></p>
        <% end %>
        <% if @quiz_package.package.anime_id.present? %>
          <%= Anime.find(@quiz_package.package.anime_id).title %>
        <% end %>
      </div>
      <%# /TODO %>
      <div id="quiz_package">
        <%= render partial: 'quiz_packages/show', locals: { quiz_package: @quiz_package } %>
      </div>
    </div>
  </div>
</div>
