<div class="container mt-3">
  <h1 class="my-5 text-center">結果発表</h1>
  <div class="card mb-5">
    <div class="card-body p-4 p-md-5">
      <div class="mt-4">
        <p>【かかった時間】</p>
        <p class="ms-3">
          <% if @times[0] != 0 %>
            <%= @times[0] %>分
          <% end %>
          <%= @times[1] %>秒
        </p>
        <p>【クイズの正解数】</p>
        <p class="ms-3"><%= @package.quiz_score %> / <%= @package.quiz_packages.count %></p>
        <p>【ランキングスコア】</p>
        <p class="ms-3"><%= @package.ranking_score %>点</p>
        <p>【ランキング】</p>
        <p class="ms-3"><%= @ranking %>位</p>
      </div>
      <hr class="my-5">
      <% @package.quiz_packages.includes(quiz: :choices).order(position: :asc).each do |quiz_package| %>
        <div class="card mb-5">
          <div class="card-body p-4 p-md-5">
            <%# TODO: 実際は表示しないので後でdivごと消す %>
            <div class="mb-4">
              <p>*パッケージID: <%= quiz_package.package.id %></p>
              <% if user_signed_in? %>
                <p>*Player ID: <%= quiz_package.package.user_id %></p>
              <% else %>
                <p>*Player ID: <%= quiz_package.package.guest_id %></p>
              <% end %>
            </div>
            <%# /TODO %>
            <div class="d-flex">
              <p>Q<%= quiz_package.position %>.</p>
              <p class="mx-4" style="color: #eb6877;">
                <% if @correct_answer_count_map[quiz_package.quiz_id].nil? %>
                  *正答率: 0%
                <% else %>
                  *正答率: <%= (@correct_answer_count_map[quiz_package.quiz_id].quo(@answer_count_map[quiz_package.quiz_id])
                                                                              .to_f.floor(3) * 100).round %>%
                <% end %>
              </p>
            </div>
            <p class="mb-4"><%= quiz_package.quiz.question %></p>
            <% quiz_package.quiz.choices.each do |choice| %>
              <div class="d-flex flex-column my-3">
                <% if quiz_package.choice_id == choice.id %>
                  <button type="button" class="btn btn-outline-warning"><%= choice.body %></button>
                <% else %>
                  <button type="button" class="btn btn-outline-secondary"><%= choice.body %></button>
                <% end %>
              </div>
            <% end %>
            <p class="my-4">【正解の選択肢】<%= @correct_choice_map[quiz_package.quiz_id].body %></p>
            <% if quiz_package.quiz.description.present? %>
              <div class="p-3" style="background-color: #f1f1ef;">
                <%= quiz_package.quiz.description %>
              </div>
            <% end %>
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#quiz-report-modal-<%= quiz_package.quiz.id %>">
              報告
            </button>
            <%= render partial: "reports/modal", locals: { quiz_report: @quiz_report, quiz: quiz_package.quiz, url: reports_path } %>
          </div>
        </div>
      <% end %>
      <div class="d-grid gap-2 col-6 mx-auto mb-3">
        <%= link_to "トップ画面に戻る", root_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>
