<div class="container mt-5">
  <h1 class="my-4"><%= QuizReport.model_name.human %></h1>
  <div class="card p-4 mb-5">
    <div class="card-body">
      <p>ID: <%= @quiz_report.id %></p>
      <p>報告者： <%= @quiz_report.user.nickname %></p>
      <p>理由： <%= @quiz_report.reason %></p>
      <div id="admin-quiz-report">
        <%= turbo_frame_tag 'quiz-report-status' do %>
          ステータス： <%= @quiz_report.status_i18n %>
          <%= link_to "変更", edit_admin_report_path(@quiz_report) %>
        <% end %>
      </div>
    </div>
    <div class="card p-4 mb-4">
      <div class="card-body">
        <p><%= @quiz_report.quiz.id %></p>
        <p><%= @quiz_report.quiz.question %></p>
        <% @quiz_report.quiz.choices.each do |choice| %>
          <p><%= choice.body %></p>
        <% end %>
        <p><%= @quiz_report.quiz.description %></p>
        <div id="reported-quiz">
          <%= turbo_frame_tag 'reported-quiz-status' do %>
            ステータス： <%= @quiz.status_i18n %>
            <%= link_to "変更", edit_admin_reports_quiz_path(@quiz)  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "クイズ報告管理", admin_reports_path %>
</div>
