<div class="container mx-auto my-5" style="max-width: 850px;">
  <h1 class="main-title mb-5" data-en="Month">今月のランキング</h1>
  <table class="table table-ranking">
    <tbody>
      <% @month_rankings.each.with_index(1) do |month_ranking, i| %>
        <tr>
          <th scope="row col" style="width: 18%" class="ps-4 py-3"><%= i %>位</th>
          <td class="col py-3" style="width: 50%"><%=  month_ranking.user.nickname %></td>
          <td class="col text-center py-3" style="width: 20%"><%= month_ranking.ranking_score %>点</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to rankings_path do %>
    <button class="btn-home-back">
      <%= image_tag 'back_arrow.svg' %>
      <span>戻る</span>
    </button>
  <% end %>
</div>
