<div class="container-fluid">
  <%= link_to image_tag("aniaq_logo.png", class:"header-logo"), root_path %>
  <div class="d-none d-md-flex">
    <ul class="d-flex flex-row align-items-center p-0 m-0">
      <% if user_signed_in? %>
        <%= link_to home_path do %>
          <li class="nav-item me-4"><i class="bi bi-house-fill" style="font-size: 20px; color: #db5876;"></i></li>
        <% end %>
      <% end %>
      <li class="nav-item me-4">
        <% if user_signed_in? %>
          <%= link_to "アカウント編集", edit_user_registration_path, class: 'nav-link active' %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link active header-btn header-btn-white' %>
        <% end %>
      </li>
      <li class="nav-item me-3">
        <% if user_signed_in? %>
          <%= button_to "ログアウト", destroy_user_session_path, class: 'nav-link active', method: :delete, form: { data: { turbo_confirm: "ログアウトしますか？" } } %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link active header-btn header-btn-pink' %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="hamburger-menu d-md-none">
    <input type="checkbox" id="menu-btn-check">
    <div class="d-flex align-items-center">
      <% if user_signed_in? %>
        <%= link_to home_path do %>
          <div class="mobile-home-icon"><i class="bi bi-house-fill"></i></div>
        <% end %>
      <% end %>
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
    </div>
    <div class="menu-content">
      <div class="menu-content-card">
        <div class="card mb-3">
          <%= link_to descriptions_path(category: "complete"), class: 'card-body' do %>
            <%= image_tag 'complete-anime.png', size: '35x35' %>
            総合問題で遊ぶ
          <% end %>
        </div>
        <div class="card">
          <%= link_to descriptions_path(category: "selected"), class: 'card-body' do %>
            <%= image_tag 'specific-anime.png', size: '35x35' %>
            作品を選択して遊ぶ
          <% end %>
        </div>
      </div>
      <ul>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to home_path, class: 'nav-link active' do %>
              <i class="bi bi-house me-2"></i>ホーム
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path, class: 'nav-link active' do %>
              <i class="bi bi-person me-2"></i>アカウント編集
            <% end %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link active' %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= button_to destroy_user_session_path, class: 'nav-link active logout-hamburger', method: :delete, form: { data: { turbo_confirm: "ログアウトしますか？" } } do %>
              <i class="bi bi-box-arrow-in-left me-2"></i>ログアウト
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link active' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
