<div class="container-fluid mt-5">
  <div class="form-wrapper pb-2">
    <h1 class="text-center">Sign Up</h1>
    <%= simple_form_for resource, url: user_registration_path, data: { turbo: false } do |f| %>
      <div class="form-item">
        <%= f.input :nickname %>
      </div>
      <div class="form-item">
        <%= f.input :email, autofocus: true, autocomplete: 'email' %>
      </div>
      <div class="form-item">
        <%= f.input :password, autocomplete: "new-password", label: "パスワード（6文字以上）" %>
      </div>
      <div class="form-item">
        <%= f.input :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="button-panel">
        <%= f.submit "登録する", class: 'button' %>
      </div>
    <% end %>
    <div class="form-footer">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
